<!DOCTYPE html>
<html lang="en">

<head>
    <title>Black-Kart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/card.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="https://img.icons8.com/ios/50/000000/contacts.png" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item font-weight-bold">
                    <a class="nav-link" href="/">Home</a>
                </li>



                <li class="nav-item font-weight-bold">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
            <form action="/login">

                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
            <form action="/register">
                <!-- <form action="/template/register.html"> -->
                <button class="btn btn-outline-success mx-2" type="submit">Register</button>
            </form>
        </div>
    </nav>
    <!-- navbar -->


    <!-- ALL THE LINKS WILL GO TO categories.html -->
    <div id="carouselExampleControls" class="carousel slide my-10" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/1600x900/?Programming" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x900/?Macbook" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x900/?Gaming" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br>

    <div class="container my-4">
        <h1 style="text-align: center; background-color: antiquewhite;">OUR COURSES</h1>


        <ul class="cards fadeInUp animated animatedFadeInUp" data-aos="fade-up">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://source.unsplash.com/1600x900/?coding"></div>
                    <div class="card_content">
                        <h2 class="card_title">JavaScript</h2>
                        <p class="card_text">JavaScript is high-level, often just-in-time compiled, and multi-paradigm.
                            While it is most well-known as the scripting language for Web pages.
                        </p>

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="G5ZC2QKPCFNNC">
                            <input class="btn-1 card_btn" type="image"
                                src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" name="submit"
                                alt="PayPal – The safer, easier way to pay online!">
                        </form>


                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://source.unsplash.com/1600x900/?javascript"></div>
                    <div class="card_content">
                        <h2 class="card_title">Python</h2>
                        <p class="card_text">Python is an interpreted, high-level, general-purpose programming language.
                            It is also a very powerfull language and comes under top 5 languages.
                        </p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="G5ZC2QKPCFNNC">
                            <input class="btn-1 card_btn" type="image"
                                src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" name="submit"
                                alt="PayPal – The safer, easier way to pay online!">
                        </form>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://source.unsplash.com/1600x900/?Gaming"></div>
                    <div class="card_content">
                        <h2 class="card_title">Python</h2>
                        <p class="card_text">Python is an interpreted, high-level, general-purpose programming language.
                            It is also a very powerfull language and comes under top 5 languages.
                        </p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="G5ZC2QKPCFNNC">
                            <input class="btn-1 card_btn" type="image"
                                src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" name="submit"
                                alt="PayPal – The safer, easier way to pay online!">
                        </form>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <br><br>

    <div class="container my-4">
        <h1 style="text-align: center; background-color: antiquewhite;">OUR E-BOOKS</h1>


        <ul class="cards fadeInUp animated animatedFadeInUp" data-aos="fade-up">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://source.unsplash.com/1600x900/?Cave"></div>
                    <div class="card_content">
                        <h2 class="card_title">Cave</h2>
                        <p class="card_text">JavaScript is high-level, often just-in-time compiled, and multi-paradigm.
                            While it is most well-known as the scripting language for Web pages.
                        </p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="G5ZC2QKPCFNNC">
                            <input class="btn-1 card_btn" type="image"
                                src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" name="submit"
                                alt="PayPal – The safer, easier way to pay online!">
                        </form>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://source.unsplash.com/1600x900/?Nature"></div>
                    <div class="card_content">
                        <h2 class="card_title">Nature</h2>
                        <p class="card_text">Python is an interpreted, high-level, general-purpose programming language.
                            It is also a very powerfull language and comes under top 5 languages.
                        </p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="G5ZC2QKPCFNNC">
                            <input class="btn-1 card_btn" type="image"
                                src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" name="submit"
                                alt="PayPal – The safer, easier way to pay online!">
                        </form>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://source.unsplash.com/1600x900/?Science"></div>
                    <div class="card_content">
                        <h2 class="card_title">Water</h2>
                        <p class="card_text">Python is an interpreted, high-level, general-purpose programming language.
                            It is also a very powerfull language and comes under top 5 languages.
                        </p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="G5ZC2QKPCFNNC">
                            <input class="btn-1 card_btn" type="image"
                                src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" name="submit"
                                alt="PayPal – The safer, easier way to pay online!">
                        </form>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <br><br>

    <footer class="container-fluid bg-dark my-0 py-3 text-light">
        <p class="mb-0 text-center">&copy; 2020-2021 Black-Kart.com</p>
        <p class="mb-0 text-center">
            <a href="#">Back to top |</a>
            <a href="#">Privacy |</a>
            <a href="#">Terms</a>
        </p>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

</body>

</html>